phidata
python-dotenv
yfinance
packaging
duckduckgo-search
fastapi
uvicorn
python-docx
tempfile
groq
openai
sqlalchemy
pgvector
psycopg[binary]
pypdf
streamlit
phidata
google-generativeai
duckduckgo-search
